*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    width: 95%;
    margin: auto;
    margin-top: 10px;
    border-radius: 25px;
    background-color: #1d1d1f; 
    z-index: 2;
    color: white;
}

nav:hover{
    background-color: black !important;
}

.nav-inp{
    width: 40vw !important;
}

#cart-count{
    background-color: red;
    border-radius: 5px;
    color: white !important;
}

footer{
    background-color: #3AC63D;
}



@media (max-width: 767.98px) { 
    .border-sm-start-none { 
        border-left: none !important; 
    } }

.btn-cart{
    background-color: #3AC63D !important;
    color: white !important;
}

.btn-cart:hover{
    background-color: #3AC63D !important;
}

.btn-outline-primary{
    color: #3AC63D !important;
    border: 1px solid #3AC63D !important;
}

.btn-outline-primary:hover{
    background-color: #3AC63D !important;
    color: white !important;
}




  